body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #1b3277;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav__box{
    margin-top: 50px;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}  

.image{
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.gallery_image{
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.gallery_info img{
   position: relative;
   top: -60px;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.position,.position_Dash{
    text-align: center;
}

.position_Dash h1 {
    background-color: #1b3277;

    padding: 30px;
}

.position_Dash a{
    color: white;
    text-decoration: none;
}

.position_img{
    width: 100%;
    height: 100%;
}

.nav__information{
    text-align: center;
    position: absolute;
    top: 90%;
    border: 3px solid rgb(97, 11, 11);
    background-color: #eeeeee;
}

.nav__information a{
    color: rgb(108, 16, 16);
    text-decoration: none;
}